/*=========================================================================
 COLORS
 ==========================================================================
  color1:       #xxxxxx
  color2:       #xxxxxx
  color3:       #xxxxxx
  color4:       #xxxxxx
  color5:       #xxxxxx
 ========================================================================== */


/*=========================================================================
 BASIC SETUP
 ========================================================================== */





/*=========================================================================
 REUSABLE COMPONENTS
 ========================================================================== */





/*=========================================================================
 NAVBAR
 ========================================================================== */





/*=========================================================================
 HEADER
 ========================================================================== */





/*=========================================================================
 FOOTER
 ========================================================================== */





/*=========================================================================
 PAGE 1
 ========================================================================== */





/*=========================================================================
 PAGE 2
 ========================================================================== */





/*=========================================================================
  MEDIA QUERIES
 ========================================================================== */